<div class="container-full-bg">
  <div class="row row-one">
    <div class="col-lg-12">
      <article class="value">
        <p class="connect">
          Connecting Farmers with Buyers
        </p>
      </article>
    </div>
  </div>
  <div class="row row-two">
    <div class="col-lg-12">
    <article class="words">
    <div class="statement">
      <p class="about">
        About Farmers Market
      </p>
      <p class="mission">
        FarmersMarket is a website application that aims to connect small farmers with local wholesale buyers such as restaurants and grocery stores. Small farmers typically don’t have the time or means to engage in marketing, while local buyers are noticing their customers’ increasing desire to support locally grown produce. This app solves both dilemmas by creating an inventory tool for farmers, which markets their products to local buyers. The app goes one step further for those farmers who are reluctant or slow to adopt the system by allowing a website Admin to enter/edit inventory on their behalf. This Admin will also have the role of approving new users (famers and buyers), ensuring that they are local and legitimate.
      </p>
    </div>
    </article>
  </div>
  </div>
  <div class="social">
    <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-lg fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa fa-lg fa-pinterest"></i></a></li>
  </div>

</div>
