.body {
  width: 90%;
}

ul{
  margin-bottom:0;
}

// buttons

.btn-go{
  background: green;
  color:rgba(0,0,0,0.5);
  transition:.2s all;
  &:hover{
    background:darkgreen;
    color:white;
  }
}

.btn-edit {
  background: orange;
  color:rgba(0,0,0,0.5);
  transition:.2s all;
  &:hover{
    background:blue;
    color:white;
  }
}
.btn-delete{
  background:red;
  color:rgba(0,0,0,0.5);
  transition:.2s all;
  &:hover{
    background:purple;
    color:white;
  }
}


.nav-user {
  margin: 10px;
  margin-right: 15px !important;
  float: right;
  font-size: 20px;
  color: whitesmoke;
}

.nav-signup {
  margin: 10px;
  margin-right: 15px !important;
  float: right;
}

.nav-signin {
  margin: 10px;
  margin-right: 15px !important;
  float: right;
}

.nav-profile {
  margin: 10px;
  margin-right: 15px !important;
  float: right;
}

.nav-logout {
  margin: 10px;
  margin-right: 15px !important;
  float: right;
}

.navbar-text {
  margin-left: 240px !important;
  font-size: 1.6em;
}

.nav-title {
font-size: 25px;
color: whitesmoke;
margin-left:2%;
vertical-align: middle;
}
// .dropdown-menu {
//   left: 83% !important;
//   background-color: #598796 !important;
// }
.nav-branding {
  list-style: none;
  display: inline-block;
  float: left;
}

.navbar{
  background:black;
  .logo{
    width: 70px;
    height: 70px;
    vertical-align: middle;
  }
  li {
    list-style: none;
    display: inline-block;
  }
}

// .nav-buttons {
//   list-style: none;
//   display: inline-block;
//   float: right;
// }

.container-main {
  margin-top: 93px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;

}

.container-full-bg {
  width: 100%;
  height: 70%;
}

.hero {
  height: 650px;
  background-image:url(img/hero-pic.jpg);
  background-size: cover;
  margin:10% 0;
}



.connect {
  font-size: 2.5em;
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
  float: right;
  padding-top: 75px;
  color: #309700;
  margin-right: 8%;
}


.row-two {
  height: 300px;
  margin-left: 0!important;
  margin-right: 0!important;
}

.statement {
 margin-bottom:10%;
   h5 {
    color: red;
    font-size: 2rem;
    text-align: center;
  }
  p {
    font-size: 1.6rem;
    font-weight: bold;
  }
}


footer {
  height: 70px;
  border: 2px solid red;
}

footer ul {
  display: inline-block;
  width: 100%;
}

footer li {
  display: inline-block;
  list-style: none;
  padding-right: 10%;
}

#copyright {

}

.container-farm {

}
.box {

}
.social {
    margin: 0;
    padding: 0;
    text-align: center;
    margin:3% 0;
}

.social ul {
    margin: 0;
    padding: 5px;
    display: inline-block;
    list-style: none;
}

.social li {
    margin: 5px;
    list-style: none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-pinterest:hover {
    background: #cb2027;
}

.social .fa-instagram:hover {
    background: #375989;
}

.container-category {
  width: 100%;
  height: 300px;
}

#farmer-right {
  top: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  border: 2px solid red;
}

.radio li {
  list-style: none;
  display: inline-block;
  padding-left: 50px;
}

.radio li label{
  padding: 0;
}


 // buyer home page

.container-allInv {
  width: 100%;
  margin: 0 auto;
  margin-top:7%;
}

.container-buyer-all {
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #efefef;
  padding: 3%;
}

.container-catAll {
  display: inline-block;
  width: 19%;
  margin-bottom: 4%;
 	vertical-align: top;

}

.text-cat {
  text-align: center;
  border: 1px solid #000;
  font-size: 2.5em;
  background-color: #73B370;
  color: #D41942;
  padding:2%;
}
// for category all and categrory inv
.cat-order {
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin-left: 15%;
  text-align: center;
}
// end


.cat-list {
  list-style: none;
  display: inline-block;
}

.cat-list p {
  text-align: center;
  color: #9C8332;
}

.cat-list img {
  width: 170px;
  height: 150px;
}

.new-veg-pic {
  display: none;
}
.veg-pic:hover + .new-veg-pic {
  display: inline;
}

.container-invFarm {
}

.container-buyer-all img {
  width: 100%;
}
.buyer-wrap {
  margin-top: 5%;
}
.buyer-img-wrap {
  height: 200px;
  overflow: hidden;
}

.container-invFarmProd {
  height: 240px;
  display: inline-block;
  overflow-y: scroll;
  ul li {
      list-style: none;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1% 0;
      span {
        font-weight: normal;
    }
  }
  input{
    margin-bottom:3%;
  }
  button{
    width:100%;
  }
}

#cat-name {
  text-align: center;
  font-size: 2.5em;
  color: #73B370;
  padding-bottom: 2%;
}

.list-prod {
    padding: 5% 10%;
    background:#efefef;
}
 //buyer profile page
.container-buyerProfile {
  width: 100%
  // background-color: rgba(115, 186, 241, 0.3);
}
// end profile page

//admin page

.farmer-all {
  margin-left: 35%;
}
.container-user {
  text-align: center;
}
.farm-wrap {
  margin-top: 10%;
}
.farm-wrap-inner {
  position: fixed;
}

.product-wrap-inner {
  background: #efefef;
  margin-bottom: 8%;
  padding:5%;
}

// login screen

.signin-form {
  input {
    margin-bottom: 3%;
  }
  select {
    width: 100%;
    margin-bottom: 3%;
  }
}

// orders

.pending, .approved{
  background:#efefef;
  padding:5%;
  h4{
    margin:0;
  }
}
.pending {
  h4 {
    color: orange;
  }
}
.approved {
  margin-top:5%;
  h4{
    color:green;
  }
}
