.nav-user {
  margin: 10px;
  margin-right: 15px !important;
  float: right; }

.nav-signup {
  margin: 10px;
  margin-right: 15px !important;
  float: right; }

.nav-signin {
  margin: 10px;
  margin-right: 15px !important;
  float: right; }

.nav-logout {
  margin: 10px;
  margin-right: 15px !important;
  float: right; }

.navbar-text {
  margin-left: 240px !important;
  font-size: 1.6em; }

.nav-branding {
  list-style: none;
  display: inline-block;
  float: left; }

.navbar li {
  list-style: none;
  display: inline-block; }

.container-main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.8; }

.container-full-bg {
  width: 100%;
  height: 70%;
  background-image: url(img/hero-pic.jpg);
  background-size: cover;
  margin-top: 7%; }

.row-one {
  height: 450px; }

.connect {
  font-size: 2.5em;
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
  float: right;
  padding-top: 75px;
  color: #000000;
  margin-right: 8%; }

.row-two {
  height: 300px;
  margin-left: 0 !important;
  margin-right: 0 !important; }

.mission {
  color: #000;
  font-size: 1.3em;
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
  font-weight: bold; }

footer {
  height: 70px;
  border: 2px solid red; }

footer ul {
  display: inline-block;
  width: 100%; }

footer li {
  display: inline-block;
  list-style: none;
  padding-right: 10%; }

.container-farm {
  width: 100%;
  height: 700px; }

#left {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 49.1%;
  height: 300px;
  overflow-y: scroll;
  border: 2px solid red; }

#right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  width: 49.3%;
  height: 300px;
  border: 2px solid red; }

#left li {
  list-style: none; }
