.nav-user {
  margin: 10px;
  margin-right: 15px !important;
  float: right;
  font-size: 20px;
  color: whitesmoke; }

.nav-signup {
  margin: 10px;
  margin-right: 15px !important;
  float: right; }

.nav-signin {
  margin: 10px;
  margin-right: 15px !important;
  float: right; }

.nav-profile {
  margin: 10px;
  margin-right: 15px !important;
  float: right; }

.nav-logout {
  margin: 10px;
  margin-right: 15px !important;
  float: right; }

.navbar-text {
  margin-left: 240px !important;
  font-size: 1.6em; }

.nav-title {
  font-size: 20px;
  color: whitesmoke; }

.nav-branding {
  list-style: none;
  display: inline-block;
  float: left; }

.navbar li {
  list-style: none;
  display: inline-block; }

.container-main {
  margin-top: 93px;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.container-full-bg {
  width: 100%;
  height: 70%; }

.row-one {
  height: 650px;
  background-image: url(img/hero-pic.jpg);
  background-size: cover; }

.connect {
  font-size: 2.5em;
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
  float: right;
  padding-top: 75px;
  color: #309700;
  margin-right: 8%; }

.row-two {
  height: 300px;
  margin-left: 0 !important;
  margin-right: 0 !important; }

.statement {
  background-color: #ffffff;
  opacity: 0.6; }

.about {
  text-align: center;
  font-size: 2em;
  color: #C21B0A; }

.mission {
  color: #000;
  font-size: 1.3em;
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
  font-weight: bold; }

footer {
  height: 70px;
  border: 2px solid red; }

footer ul {
  display: inline-block;
  width: 100%; }

footer li {
  display: inline-block;
  list-style: none;
  padding-right: 10%; }

.container-farm {
  width: 100%;
  height: 318px; }

.social {
  margin: 0;
  padding: 0;
  text-align: center; }

.social ul {
  margin: 0;
  padding: 5px;
  display: inline-block;
  list-style: none; }

.social li {
  margin: 5px;
  list-style: none;
  display: inline-block; }

.social i {
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #909AA0;
  font-size: 22px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s; }

.social i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s; }

.social .fa-facebook:hover {
  background: #4060A5; }

.social .fa-twitter:hover {
  background: #00ABE3; }

.social .fa-pinterest:hover {
  background: #cb2027; }

.social .fa-instagram:hover {
  background: #375989; }

.container-category {
  width: 100%;
  height: 300px; }

#farmer-right {
  top: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  border: 2px solid red; }

.radio li {
  list-style: none;
  display: inline-block;
  padding-left: 50px; }

.radio li label {
  padding: 0; }

#left {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 49.1%;
  height: 300px;
  overflow-y: scroll;
  border: 2px solid red; }

#right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  width: 49.3%;
  height: 300px;
  border: 2px solid red; }

#left li {
  list-style: none; }

.container-allInv {
  width: 100%;
  margin: 0 auto; }

.container-buyer-all {
  height: 240px;
  overflow-y: scroll; }

.container-catAll {
  display: inline-block;
  width: 19%;
  margin-bottom: 4%;
  vertical-align: top; }

.text-cat {
  text-align: center;
  border: 1px solid #000;
  font-size: 2.5em;
  margin-bottom: 5%;
  background-color: #73B370;
  color: #D41942;
  padding-bottom: 2%; }

.cat-order {
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin-left: 15%;
  text-align: center; }

.cat-list {
  list-style: none;
  display: inline-block; }

.cat-list p {
  text-align: center;
  color: #9C8332; }

.cat-list img {
  width: 170px;
  height: 150px; }

.container-invFarm {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid red; }

.container-invFarmProd {
  height: 240px;
  display: inline-block;
  overflow-y: scroll; }

#cat-name {
  text-align: center;
  font-size: 2.5em;
  color: #73B370;
  padding-bottom: 2%; }

.list-prod {
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin-left: 10%;
  text-align: center; }

.container-farmer-profile-bg {
  background-image: image("http://www.schwabinsagency.com/img/~www.schwabinsagency.com/farm%20pic.jpg"); }
