.body {
  width: 90%; }

ul {
  margin-bottom: 0; }

li {
  list-style: none; }

.btn-go {
  background: #90854C;
  color: white;
  transition: .2s all; }
  .btn-go:hover {
    background: #547221;
    color: white; }

.btn-edit {
  background: #547221;
  color: white;
  transition: .2s all; }
  .btn-edit:hover {
    background: #90854C;
    color: white; }

.btn-delete {
  background: red;
  color: rgba(0, 0, 0, 0.5);
  transition: .2s all; }
  .btn-delete:hover {
    background: purple;
    color: white; }

.nav-user {
  margin: 10px;
  margin-right: 15px !important;
  float: right;
  font-size: 20px;
  color: whitesmoke; }

.nav-signup {
  margin: 10px;
  margin-right: 15px !important;
  float: right; }

.nav-signin {
  margin: 10px;
  margin-right: 15px !important;
  float: right; }

.nav-profile {
  margin: 10px;
  margin-right: 15px !important;
  float: right; }

.nav-logout {
  margin: 10px;
  margin-right: 15px !important;
  float: right; }

.navbar-text {
  margin-left: 240px !important;
  font-size: 1.6em; }

.nav-title {
  font-size: 25px;
  color: whitesmoke;
  margin-left: 2%;
  vertical-align: middle; }

.nav-branding {
  list-style: none;
  display: inline-block;
  float: left; }

.navbar {
  background: black; }
  .navbar .logo {
    width: 70px;
    height: 70px;
    vertical-align: middle; }
  .navbar li {
    list-style: none;
    display: inline-block; }

.signin-form input {
  margin-bottom: 3%; }

.signin-form select {
  width: 100%;
  margin-bottom: 3%; }

.hero {
  height: 650px;
  background-image: url(img/hero-pic.jpg);
  background-size: cover;
  margin: 10% 0; }

.connect {
  font-size: 2.5em;
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
  float: right;
  padding-top: 75px;
  color: #309700;
  margin-right: 8%; }

.statement {
  margin-bottom: 10%; }
  .statement h5 {
    color: red;
    font-size: 2rem;
    text-align: center; }
  .statement p {
    font-size: 1.6rem;
    font-weight: bold; }

.social {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 3% 0; }

.social ul {
  margin: 0;
  padding: 5px;
  display: inline-block;
  list-style: none; }

.social li {
  margin: 5px;
  list-style: none;
  display: inline-block; }

.social i {
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #909AA0;
  font-size: 22px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s; }

.social i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s; }

.social .fa-facebook:hover {
  background: #4060A5; }

.social .fa-twitter:hover {
  background: #00ABE3; }

.social .fa-pinterest:hover {
  background: #cb2027; }

.social .fa-instagram:hover {
  background: #375989; }

.container-allInv {
  width: 100%;
  margin: 0 auto;
  margin-top: 7%; }

.container-buyer-all {
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #efefef;
  padding: 3%;
  text-align: center; }

.container-catAll {
  display: inline-block;
  width: 19%;
  margin-bottom: 4%;
  vertical-align: top; }

.text-cat {
  text-align: center;
  border: 1px solid #000;
  font-size: 2.5em;
  background-color: #547221;
  color: white;
  padding: 2%; }

.container-buyer-all img {
  width: 100%; }

.buyer-wrap {
  margin-top: 5%; }

.buyer-img-wrap {
  height: 200px;
  overflow: hidden; }

#cat-name {
  color: #547221; }

.container-invFarmProd {
  height: 240px;
  display: inline-block;
  overflow-y: scroll; }
  .container-invFarmProd ul li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1% 0; }
    .container-invFarmProd ul li span {
      font-weight: normal; }
  .container-invFarmProd input {
    margin-bottom: 3%; }
  .container-invFarmProd button {
    width: 100%; }

.list-prod {
  padding: 5% 10%;
  background: #90854C; }

.pending, .approved {
  background: #90854C;
  padding: 5%; }
  .pending h4, .approved h4 {
    margin: 0; }

.pending h4 {
  color: #fff; }

.approved {
  margin-top: 5%; }
  .approved h4 {
    color: #fff; }

.goods-available {
  height: 200px;
  overflow-y: scroll; }
  .goods-available h3 {
    color: #90854C; }

.product-orders {
  height: 200px;
  overflow-y: scroll; }
  .product-orders h3 {
    color: #90854C; }

.approved-orders {
  height: 200px;
  overflow-y: scroll; }
  .approved-orders h3 {
    color: #90854C; }

.container-user {
  text-align: center; }

.farm-wrap {
  margin-top: 10%; }

.farm-wrap-inner {
  position: fixed; }
  .farm-wrap-inner h3 {
    color: #90854C; }

.product-wrap-inner {
  background: #35B82E;
  margin-bottom: 8%;
  padding: 5%; }

.container-admin {
  width: 100%;
  margin: 0 auto;
  margin-top: 7%; }

.all-users {
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #efefef;
  padding: 0%;
  background-image: url(img/hero-pic.jpg);
  background-size: cover; }
  .all-users h4 {
    text-align: center;
    font-size: 2em; }

.admin-user-list {
  display: inline-block;
  width: 32%;
  margin-bottom: 4%;
  vertical-align: top; }

.user-wrap-inner {
  background: #efefef;
  margin-bottom: 8%;
  padding: 5%;
  font-size: 1.3em; }

.container-viewUsers {
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #efefef;
  text-align: center; }

.user-buyer {
  text-align: center;
  list-style: none; }

.user-famrer {
  text-align: center;
  list-style: none; }

.mucho-user-list {
  text-align: center;
  margin-bottom: 4%;
  font-size: 1.3em; }

.many-user-List {
  text-align: center;
  margin-bottom: 4%;
  font-size: 1.3em; }

footer {
  text-align: center;
  border-top: 2px solid rgba(176, 199, 236, 0.25);
  color: #547221; }
