<div class="buyer-wrapper">
<div class="container-allInv">
  <h4 class="text-cat"> Category </h4>
  <div class="invFarm-wrap col-xs-12">
    <div class="container-invFarm" ng-repeat="category in categories"  ng-show="category.categoryName === showCat">
      <p id="cat-name">{{category.categoryName}}</p>
      <div class="col-xs-4 container-invFarmProd" ng-repeat="thing in myProducts | filter:showCat">
        <ul class="list-prod">
          <li><span>variety: </span>{{thing.name}}</li>
          <li><span>quantity: </span>{{thing.quantityAvailable}} lb</li>
          <li><span>cost: </span>$ {{thing.price}}</li>
            <a href="/#/farmers-profile/{{thing.user.companyName}}"><li>{{thing.user.companyName}}</li></a>
          <form class="order-form" ng-submit="createOrder(thing, thing.id)">
            <li>
              <input class="form-control" type="text" placeholder="Enter Quantity" name="" ng-model="thing.quantityOrdered">
              <button class="btn btn-sm btn-edit" type="submit"value="Submit Order" name="">submit</button>
            </li>
          </form>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 buyer-wrap">
    <div class="col-xs-8 container-buyer-all">
      <div class="buyer-img-wrap col-xs-3" ng-repeat="category in categories">
        <div ng-click="showThisCat(category.categoryName)">
          <a href="">
            <p>{{category.categoryName}}</p>
            <img ng-src="imagesCategories/{{category.imageCategory}}" alt="">
          </a>
        </div>
     </div>
    </div>
    <div class="container-farm col-xs-4">
      <div class="pending col-xs-12">
        <h4>Pending Orders</h4>
        <div ng-repeat="thing in pendingOrders track by $index">
          <ul>
            <li>{{::thing.category}} , {{::thing.name}} , $ {{::thing.price}} , {{::user.userName}} , {{::thing.quantityOrdered}} lbs</li>
          </ul>
        </div>
      </div>
      <div class="approved col-xs-12">
        <h4> Approved Orders </h4>
        <ul ng-repeat="stuff in notPendingOrders track by $index">
          <li>{{stuff.category}} , {{stuff.name}} , $ {{stuff.price}} , {{user.userName}} , {{stuff.quantityOrdered}} lbs</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
