<nav class="navbar navbar-default">
  <div class="container-fluid">
      <img class="logo" alt="Brand" src="img/farmersMarketLogo.jpg" style="width: 50px; height: 50px;">
      <p class="navbar-text">Farmers Market</p>
      <div class="dropdown">
      <button type="button" class="btn btn-danger navbar-right login" data-toggle="dropdown" role="button">Sign Up </button>
        <ul class="dropdown-menu">
          <li><button type="button" class="btn btn-info" data-toggle="modal" data-target="#farmerLogin">Farmers</button></li>
          <li><button type="button" class="btn btn-info navbar-right login" data-toggle="modal" data-target="#buyerLogin">Buyers</button></li>
        </ul>
      </div>
    <button type="button" class="btn btn-primary navbar-right login" data-toggle="modal" data-target="#userLogin">Sign In</button>
      <button type="button" class="btn btn-warning navbar-right login">Log Out</button>
    </div>


<h1>{{userName}}</h1>
