<div class="farm-wrap">
  <div class="for-sale col-xs-12 col-sm-3">
    <div class="farm-wrap-inner">
      <h3>Goods For Sale</h3>
        <ul>
          <form class="signin-form" ng-submit="createInventory(list)">
            <select ng-options="category.categoryName for category in categories" ng-model="list.category" placeholder="something">
              <option value="" disabled selected>Select your option</option>
            </select>
            <input id="type" class="form-control" type="text" placeholder="Type" name="userType" ng-model="list.name">
            <input id="amount" class="form-control" type="text" placeholder="Amount" name="userType" ng-model="list.quantityAvailable">
            <input id="amount" class="form-control" type="text" placeholder="Market Price" name="userType" ng-model="list.price">
            <input class="btn btn-default btn-register" type="submit" value="Post Products" name="commit" >
          </form>
        </ul>
      </div>
  </div>
  <div class="col-xs-12 col-xs-9">
    <div class="goods-available col-xs-12">
      <h3>Goods Available</h3>
      <div ng-repeat="product in myProducts track by $index" class="col-xs-6 product-wrap">
        <div class="product-wrap-inner">
          <ul>
            <li>{{product.category}}</li>
            <li>{{product.name}}</li>
            <li>{{product.quantityAvailable}} lb</li>
            <li>$ {{product.price}}</li>
          </ul>
          <button type="button" class="btn btn-sm btn-edit" ng-click="updateInventory(product)">Edit Inventory</button>
          <button type="button" class="btn btn-sm btn-go" ng-click="deleteInventory(product)">Delete Order</button>
        </div>
      </div>
    </div>

    <div class="product-orders col-xs-12">
      <h3>Product Orders</h3>
        <div ng-repeat="thing in pendingOrders track by $index" class="col-xs-6 product-wrap">
          <div class="product-wrap-inner">
            <ul>
              <li>{{::thing.category}} , {{::thing.name}} , {{::thing.buyer.userName}} , $ {{::thing.price}} , {{::thing.quantityOrdered}} lbs</li>
              <button type="button" class="btn btn-sm btn-edit" ng-click="authorizeOrder(thing)">Accept Order</button>
              <button type="button" class="btn btn-sm btn-go" ng-click="deleteOrder(thing)">Delete Order</button>
            </ul>
        </div>
      </div>
    </div>

    <div class="approved-orders col-xs-12">
      <h3> Approved Orders </h3>
        <div ng-repeat="approved in approvedOrders track by $index" class="col-xs-6 product-wrap">
          <div class="product-wrap-inner">
            <ul>
              <li>{{approved.category}} , {{approved.name}} , {{approved.buyer.userName}} ,  $ {{approved.price}} , {{approved.quantityOrdered}} lbs</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
