
<div class="container-farm">

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6" id="left">
        <div class="well">
          <h4 class="text-danger">Goods For Sale</h4>
            <ul>
              <form class="signin-form" ng-submit="createInventory(list)">
                <select ng-options="category.categoryName for category in categories" ng-model="list.category"></select>
                <input id="type" class="form-control" type="text" placeholder="Type" name="userType" ng-model="list.name">
                <input id="amount" class="form-control" type="text" placeholder="Amount" name="userType" ng-model="list.quantityAvailable">
                <input id="amount" class="form-control" type="text" placeholder="Market Price" name="userType" ng-model="list.price">
                <input class="btn btn-default btn-register" type="submit" value="Post Products" name="commit" >
              </form>
            </ul>
        </div>
      </div>
      <div class="col-md-6" id="right">
        <div class="well">
          <h4 class="text-success"> Goods Available </h4>
          <ul ng-repeat="product in myProducts track by $index">
            <li>{{::product.category}}</li>
            <li>{{::product.name}}</li>
            <li>{{::product.quantityAvailable}} lb</li>
            <li>$ {{::product.price}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="container-farm">

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6" id="left">
        <div class="well">
          <h4 class="text-danger">Product Orders</h4>
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
            </ul>
        </div>
      </div>
      <div class="col-md-6" id="right">
        <div class="well">
          <h4 class="text-success"> Approved Orders </h4>
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
