
<div class="container-fluid">
  <div class="container-viewUsers">
    <ul class="viewUsersButton">
      <li>
        <button type="button" class="btn btn-danger" ng-click="viewFarmers()">View all Farmers</button>
      </li>
        <button type="button" class="btn btn-danger" ng-click="viewBuyers()">View all Buyers</button>
      <li></li>
    </ul>
  </div>
<div class="row">
  <div class="col-md-12" id="allUsers">
    <div class="well">
      <h4 class="text-success"> All Pending Users </h4>
      <ul class="adminUserList" ng-repeat="user in users">
        <li>{{user.companyName}}
          <button type="button" class="btn btn-danger btn-sm" ng-click="validateUser(user, $index)">Approve User</button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="deleteUserDeniedByAdmin(user, $index)">Delete User</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6-md">

  </div>
  <div class="col-6-md">

  </div>
</div>



</div>
